<%= render 'layouts/navbar' %>
<br>
<br>
<br>
<br>
<br>
<div class="container">
<div class="row">
  <div class=".col-xs-12 text-center">
    <i class="fa fa-cloud fa-5x"></i>
  <h1 class="headline text-center">Everest App</h1>
  </div>
    <div class=".col-xs-12 text-center">
  <%= link_to " Fitbit Connect", "/auth/fitbit", class: "fa fa-cloud fa-2x text-center btn btn-primary" %>
</div>


  <%= render 'layouts/footer' %>

</div>