<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>hi</h1>
    <p>Name html: <%= @contact.name %></br>
 
    Email: <%= @contact.email %>
    <br/><br></br></br>

    Message: <%= @contact.message %></br>
  </body>
</html>
