<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Name: <%= @contact.name %></br>
 
    Email: <%= @contact.email %></br>
 
    Message: <%= @contact.message %></br>
  </body>
</html>
