<%= render 'layouts/navbar' %>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class=".col-xs-3 text-center">



<h1 class="headline">Meet the Everest Team</h1>
 </div>
  </div>
  <div class="row">

        <div class=".col-xs-3 text-center pull-left">
      <img class="roundedCorners" src="https://0.gravatar.com/avatar/2a0bb9f774f55d3210bbd0acf134f479?d=https%3A%2F%2Fidenticons.github.com%2F5d282931e9bf03e47c9b1ba157208a9a.png&r=x&s=440" width="200px" />
      <h2>Ryan Brandt</h2>
      <a href="#"><i class="fa fa-github fa-2x"></i></a>
      <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
      <a href="#"><i class="fa fa-dribbble fa-2x"></i></a>
      <a href="#"><i class="fa fa-envelope-o fa-2x"></i></a>
    </div>

        <div class=".col-xs-3 text-center pull-left">
      <img class="roundedCorners" src="https://1.gravatar.com/avatar/3605b2f349f61c198f88179211f69b10?d=https%3A%2F%2Fidenticons.github.com%2F8af7924af6de98c9f81d8dc3c723b599.png&r=x&s=440" width="200px" />
      <h2>Amanda Egan</h2>
      <a href="#"><i class="fa fa-github fa-2x"></i></a>
      <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
      <a href="#"><i class="fa fa-dribbble fa-2x"></i></a>
      <a href="#"><i class="fa fa-envelope-o fa-2x"></i></a>
    </div>

    <div class=".col-xs-3 text-center pull-left">
      <img class="roundedCorners" src="https://2.gravatar.com/avatar/38a8f34456c453bb345ea4e0d3325640?d=https%3A%2F%2Fidenticons.github.com%2F1ad0a6b1bc92e6d334164df927ce13f2.png&r=x&s=440" width="200px" />
      <h2>Nathan Ross</h2>
      <a href="#"><i class="fa fa-github fa-2x"></i></a>
      <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
      <a href="#"><i class="fa fa-dribbble fa-2x"></i></a>
      <a href="#"><i class="fa fa-envelope-o fa-2x"></i></a>
    </div>

        <div class=".col-xs-3 text-center pull-left">
      <img class="roundedCorners" src="https://2.gravatar.com/avatar/c16bff7ba3b6d55ccf9705d90b97ab5c?d=https%3A%2F%2Fidenticons.github.com%2F318f73335b30111b9024fb362c36a170.png&r=x&s=440" width="200px" />
      <h2>Amy Weiner</h2>
      <a href="#"><i class="fa fa-github fa-2x"></i></a>
      <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
      <a href="#"><i class="fa fa-dribbble fa-2x"></i></a>
      <a href="#"><i class="fa fa-envelope-o fa-2x"></i></a>
    </div>

  </div>

<img src="/assets/fitbit_connect.png" />1
<img src="/assets/images/fitbit_connect.png" />2
<img src="/images/fitbit_connect.png" />3

<img src="fitbit_connect.png" />4


</div>

  <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%= render 'layouts/footerstatic' %>