<%= render 'layouts/navbar' %>


<div class="container">

  <!-- Headline Row -->
  <div class="row">
    <div class=".col-xs-12 text-center">
      <h2 class="headline">Meet the Everest Team</h2>
      <br>
    </div>
  </div>

  <!-- Profile Row -->
  <div class="row">


    <!-- Profile 1 -->
    <div class="col-xs-3 text-center">
      <img class="roundedCorners" src="https://0.gravatar.com/avatar/2a0bb9f774f55d3210bbd0acf134f479?d=https%3A%2F%2Fidenticons.github.com%2F5d282931e9bf03e47c9b1ba157208a9a.png&r=x&s=440" width="200px" />
      <h2 class="subhead">Ryan Brandt</h2>
      <a href="https://github.com/Ryabrandt"><i class="fa fa-github fa-2x"></i></a>
      <a href="http://linkedin.com/pub/ryan-brandt/77/497/a70"><i class="fa fa-linkedin fa-2x"></i></a>
      <a href="mailto:Ryabrandt@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>
    </div>

    <!-- Profile 2 -->
    <div class="col-xs-3 text-center">
      <img class="roundedCorners" src="https://1.gravatar.com/avatar/3605b2f349f61c198f88179211f69b10?d=https%3A%2F%2Fidenticons.github.com%2F8af7924af6de98c9f81d8dc3c723b599.png&r=x&s=440" width="200px" />
      <h2 class="subhead">Amanda Egan</h2>
      <a href="https://github.com/amandragon"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://twitter.com/amandaeegan"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="http://linkedin.com/pub/amanda-egan/91/520/37"><i class="fa fa-linkedin fa-2x"></i></a>
      <a href="mailto:eganae@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>
    </div>

    <!-- Profile 3 -->
    <div class="col-xs-3 text-center">
      <img class="roundedCorners" src="https://2.gravatar.com/avatar/38a8f34456c453bb345ea4e0d3325640?d=https%3A%2F%2Fidenticons.github.com%2F1ad0a6b1bc92e6d334164df927ce13f2.png&r=x&s=440" width="200px" />
      <h2 class="subhead">Nathan Ross</h2>
      <a href="https://github.com/nathantross"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://twitter.com/nathantross"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="https://linkedin.com/in/nathantross"><i class="fa fa-linkedin fa-2x"></i></a>
      <a href="https://dribbble.com/nathantross"><i class="fa fa-dribbble fa-2x"></i></a>
      <a href="mailto:nathantross@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>
    </div>

    <!-- Profile 4 -->
    <div class="col-xs-3 text-center">
      <img class="roundedCorners" src="https://2.gravatar.com/avatar/c16bff7ba3b6d55ccf9705d90b97ab5c?d=https%3A%2F%2Fidenticons.github.com%2F318f73335b30111b9024fb362c36a170.png&r=x&s=440" width="200px" />
      <h2 class="subhead">Amy Weiner</h2>
      <a href="https://github.com/AmyWeiner"><i class="fa fa-github fa-2x"></i></a>
      <a href="http://www.linkedin.com/pub/amy-weiner/86/718/527"><i class="fa fa-linkedin fa-2x"></i></a>
      <a href="mailto:arweiner@alumni.stanford.edu"><i class="fa fa-envelope-o fa-2x"></i></a>
    </div>

  </div>
</div>


<%= render 'layouts/footer' %>