<%= render 'layouts/navbar' %>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class=".col-xs-3 text-center">

<h3> Everest Users </h3>
 
<% @users.each do |user| %>
  <div class="row">
    <div class="span3 offset1">
      <a href="<%=user_path(user.id)%>"><%=user.name%></a>
      <p class="text-warning"><%= user.email %></p>
    </div>
  </div>
<% end %>



    </div>
  </div>
</div>