<div class="row">
<div class=".col-xs-3 text-left">
</div>
<div class=".col-xs-6 text-left form-group">

<%= form_for @goal do |f| %>
  <h3><%= f.label :name %></h3>
  <%= f.text_field :name, class: "form-control", placeholder: "Ex. Distance from Boston to New York" %>
  <%= f.submit 'Get Started', class: "btn btn-primary btn-lg" %></br>
<% end %>
</div>
<div class=".col-xs-3 text-left">
</div>

</div>