<div class="row">
  <div class="col-xs-1 text-left">
  </div>

  <div class="col-xs-10">
    <div class="navbar-form">
      <%= form_for @goal do |f| %>

        <div class="input-group-lg">
          <%= f.text_field :name, id: "goalForm", class: "form-control", placeholder: "Ex. Distance from Boston to New York" %>

          <%= f.submit 'Get Started', class: "btn btn-primary btn-lg" %></br>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-xs-1 text-left">
  </div>

</div>

