<%= render 'layouts/navbar' %>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class=".col-xs-3 text-center">

<h1 class="headline">What's Your Goal?</h1>
<h3>Think of anything in the world, but be specific</h3>
<br>
<%= render "shared/goal" %>

    </div>
  </div>
</div>

<%= render 'layouts/footer' %>