<%= render 'layouts/navbar' %>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class=".col-xs-3 text-center">


<h1 class="headline">What's Your Goal?</h1>
<%= render "shared/goal" %>




    </div>
  </div>
</div>

<%= render 'layouts/footerstatic' %>