/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/* * * * * * * * * Main * * * * * * * * */


.main {
  background: url(public/images/test.png) no-repeat center center fixed;
  /*padding for static nav/footer*/
  /*padding-top: 100px;*/
  margin-bottom: 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.headline {
  font-family: 'Bowlby One', Arial, sans-serif; font-weight: 400; 
  font-size: 60px;
  padding-bottom: 0px;
}

.subhead  {
  font-family: 'Bowlby One', Arial, sans-serif; font-weight: 200; 
  font-size: 24px;
  margin-bottom: 10px;
}

.btn-primary {
  border-radius: 80px;
  border: 0;
  padding: 18px;
}


/* Images */

.roundedCorners {
  border-radius: 400px;
  border: 0;
  padding: 10px;
  width: 175px;
}

.space {
  padding-bottom: 15px;
}

/* * * * * * * * * Landing Page * * * * * * * * */

/*.main {
  
  background-color: rgba(184, 219, 255, 1);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.fitbitLogo {
  background: url(fitbit_connect.png) no-repeat;
  opacity: 0.95;

}

.fitbitLogo:hover {
  opacity: 1;
}

/* Main Logo */
.everestLogo {
  width: 130px;
  opacity: 0.95;
}

#pink {
  color: #333;
}


/* * * * * * * * * Navbar * * * * * * * * */

.logo {
   width: 20px;
   padding-bottom: 5px;
   opacity: 0.8;
}

/* User's Profile Image in Nav */
.navimage {
  border-radius: 100px;
  border: 0;
  margin: 0 8px;
  width: 28px;
}

/* Alert */
.alert{
  padding: 15px;
  margin-bottom: 20px;
  margin-top: -20px;
  border: 0px;
  border-radius: 0px
}

.alert-success {
background-color: #56a9ed;
/* border-color: #d6e9c6; */
border-radius: 0px;
border: 0;
border-color: #56a9ed;
color: #cee9ff;
}

.alert-warning {
  background-color: #ffae00;
  border-radius: 0px;
  border: 0;
  border-color: #ffae00;
  color: #ffffff;
}

.vcenter {
    /*display: inline-block;*/
    vertical-align: middle;
    float: none;
}

/* * * * * * * * * Footer * * * * * * * * */

footer .navbar-fixed-bottom {
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: -10px;
  padding-top: 25px;
}

footer .navbar {
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 0px;
  padding-top: 25px;
  margin-top: 60px;
  border-radius: 0px;
  width: 100%;
}


/* * * * * * * * * Goal Profile  * * * * * * * * */
#goalButton {
  padding-top: 200px;
  margin-top: 40px;
  margin-bottom: -400px;
}



/* * * * * * * * * About Page * * * * * * * * */
/* Font Awesome Icons */
.fa {
  padding-right: 5px;
}

/* * * * * * * * * User Show Page * * * * * * * * */


.mainProfile {
  background-color: #e3b604;
  margin-top: -20px;
  background: rgb(226,196,88); /* Old browsers */
  /* Vertical Gradient */
  background: -moz-linear-gradient(top,  rgba(226,196,88,1) 0%, rgba(226,177,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,196,88,1)), color-stop(100%,rgba(226,177,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(226,196,88,1) 0%,rgba(226,177,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(226,196,88,1) 0%,rgba(226,177,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(226,196,88,1) 0%,rgba(226,177,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(226,196,88,1) 0%,rgba(226,177,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2c458', endColorstr='#e2b100',GradientType=0 ); /* IE6-9 */
  /* Border Shadow */
  -webkit-box-shadow: 0 1px 5px 2px rgba(000,000,000,0.2);
  box-shadow: 0 1px 5px 2px rgba(000,000,000,0.2);
}

.sectionTitle {
  font-size: 90px;
  padding-bottom: 0px;
  padding-top: 30px;
  margin-bottom: 0px;
  text-shadow: 1px 1px 2px #333;
}

.sectionHeadline {
  font-size: 40px;
  margin-top: 10px;
  padding-bottom: 30px;
}

.blackLink {
  color: #333;
}

.blackLink:hover {
  color: #333;
}

.shadow {
    text-shadow: 2px 1px 2px #000;
    color: #000;
}

/* * * * * * * * * Layout Testing * * * * * * * * */

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#red {
  background-color: red;
}




