/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
    background-color: rgba(184, 219, 255, 1);
}

.btn-primary {
  border-radius: 80px;
  border: 0;
  padding: 18px;
}


footer .navbar-fixed-bottom {
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: -10px;
  padding-top: 20px;
}


.roundedCorners {
  border-radius: 400px;
  border: 0;
  padding: 10px;
  width: 200px;
}


#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#red {
  background-color: red;
}

.subhead  {
  font-family: 'Bowlby One', Arial, sans-serif; font-weight: 200; 
  font-size: 50px;
  margin-bottom: -10px;
}

.navimage {
  border-radius: 400px;
  border: 0;
  padding: 10px;
  width: 50px;
}


