.goalheadline {
  font-family: 'Bowlby One', Arial, sans-serif; font-weight: 400; 
  font-size: 50px;
  padding-bottom: 10px;
}

body {
  background: url() no-repeat center center fixed;
  /*padding for static nav/footer*/
  /*padding-top: 100px;*/
}

nav .btn {
  margin-top: 8px;
}