<br>
<br>
<br>
<footer class="container">
  <div class=".col-xs-12 text-center">
    <div class="navbar-fixed-bottom text-center">
      <p>©EverestApp 2014 | <a href="/about">About the Team</a></p>
      <br>
    </div>
  </div>
</footer>